
body {
	margin: 0;
}

#basic_header {
	background-color: #152285;
	width: 100%;
	
	display: flex;
    justify-content: space-between;
	
}

#basic_header_main_text {
	padding: 6px;
	font-size: 12px;
	font-family: Verdana;
	color: #ccd2ff;
	text-align: right;
	display: inline;
	width: 50%;
	margin: 0;
}

#basic_header_home_link {
	padding: 6px;
	font-size: 12px;
	font-family: Verdana;
	color: #ccd2ff;
	text-align: left;
	display: inline;
	text-decoration: none;
	width: 50%;
	margin: 0;
}